.place__like {
    width: 20px;
    height: 18px;
    background-image: url('../../../images/like.svg');
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    transition: opacity .1s ease-in-out;
    padding: 0;
    border: 0;
}
.place__like:hover {
    opacity: .5;
}
.place__like:active {
    background-image: url('../../../images/like-active.svg');
}
.place__like:active,
.place__like:focus {
    border-color: #000;
    outline: none;
}