.places__like {
    width: 20px;
    height: 18px;
    background-image: url('../../../images/like.svg');
    background-size: cover;
    cursor: pointer;
    transition: opacity .1s ease-in-out;
}
.places__like:hover {
    opacity: .5;
}
.places__like:active {
    background-image: url('../../../images/like-active.svg');
}