.popup__input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
    padding: 13px 0;
    transition: .2s ease-in-out;
    transition-property: border;
}

.popup__input:not(:first-child) {
    margin-top: 30px;
}

.popup__input:active,
.popup__input:focus {
    border-color: #000;
    outline: none;
}