.popup__button {
    margin-top: 45px;
    font-size: 18px;
    border: 0;
    background: #000000;
    border-radius: 2px;
    height: 45px;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.popup__button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.popup__button:active,
.popup__button:focus {
    border-color: #000;
    outline: none;
}

@media (min-width: 768px) {
    .popup__button {
        margin-top: 50px;
        height: 50px;
    }
}