.profile__info {
     display: grid;
     align-items: center;
     grid-template-columns: minmax(auto, max-content);
     gap: 15px 10px;

}
@media (max-width: 767px) {
    .profile__info {
        justify-content: center;
    }
}
@media (min-width: 768px) {
    .profile__info {
        gap: 15px 20px;
    }
}
