.profile__job {
    margin: 0;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

@media (max-width: 767px) {
    .profile__job {
        font-size: 14px;
        margin-bottom: 35px;
    }
}